<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% data.forEach(function(drink) { %>

      <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>
  </body>
</html>
